body{
	margin: 0px;

}
#grad{background-image:linear-gradient(120deg,#dedfe0,#fafafa,#dedfe0);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
position: relative;}
#cover_sec{
	height:60vh;
	background-image: url(images/coverb.jpg);
	background-position: center;
	background-size:contain;
	opacity: 0.9;
	background-attachment: fixed;
}
@media screen and(max-height:500px )
{
	#cover_sec{
		height:20vh;
	}
}
.horizontal_list{
	list-style: none;
	padding-left:0px;
	text-align:center;
}
.horizontal_list  li{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	margin-top:20px;
	margin-bottom:0px;
}
.pseudo:hover{
	border-bottom: 2px white solid;
}
.horizontal_list li a{
	color:white;
	text-decoration: none;
	font-family: sans-serif;
	opacity: 0.7;

	transition: color 0.7s,border-bottom 4s;
}
.horizontal_list li a:hover{
	color:#9dc4fa;
	
}
#name{
	color: white;
	font-family: sans-serif;
	text-align: center;
	margin-top:4.7vh;
	margin-bottom: 0px;
	font-size: 5rem;
	transition: color 0.6s;
}
#name:hover{
	color:#9dc4fa;
}
#social_connections{
	margin: 0px;
}
#social_icons{
	margin-top:-20px;
	height:100%;
	width:100%;
	
}
ul{
	margin-bottom:0px;
}
#social_icons img{
	height:2rem;
	width:2rem;
	color: white;
	border-radius: 20%;
	transition:box-shadow 0.5s;
	position: relative;
}
#social_icons img:hover{
	box-shadow: 0px 0px 8px 6px #faeb78;
}
.icostyle{
	color:red;
	height: 1rem;
	width: 1rem;
}
#about{
	height:auto;
	width: 100%;
	position: relative;
}
#my-image img{
	height: 100%;
	width:100%;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	box-shadow:0px 10px 12px 5px #adadad;
	transition: box-shadow 0.7s;

	
}
#my-image img:hover{
	box-shadow:0px 0px 12px 5px #faeb78;
}
#my-image {
	height:14rem;
	width:18.67rem;
	margin:auto;
	margin-top: -7rem;
	}
#about p{
	margin:auto;
	width:60%;
	margin-top: 50px;
	font-family: century gothic;
	text-align: justify;
	color: #6e6d6b;
}
#album{
	height:140vh;
	width:70%;
	display: flex;
	margin:auto;
	margin-top: 7vh;
	justify-content: space-around;
	flex-wrap: wrap;
	/*background-color: lightgrey;*/

}


#album div img{
	height:20rem;
	width:20rem;
	padding:0.1rem;
	margin-right:5vh;
	margin-top: 20vh;
	box-shadow: 0rem 0rem 0.75rem 0.313rem #adadad;
    transition:all 0.5s ease-in-out;


 }

 
 #album div img:hover{
 	height:26rem;
 	width:26rem;

 }
  #album div img section:hover{
 	height:26rem;
 	width:26rem;

 }
 #album div audio{
 	background-color: white;
 	border:4px solid white;
 }
 .titles{
 	color:white;
 	font-family: Century Gothic;
 	margin-left:19.7%;
 	font-size: 3.5rem;
 	opacity: 0.6;
 }

#tracks{
	height:21.4rem;
	width:18rem;
	margin-bottom:4rem;	
	margin-top: 10vh;
	background-color: rgba(255,255,255);
	border-radius: 8%;
	/*border:0.7rem solid rgba(255,255,255,0.6);*/
	margin-right: 2rem;
	transition: 0.5s ease-in-out;

}
#tracks:hover{
	box-shadow:0px 0px 14px 6px #81f0fc;
}
#tracks div img{
	height:18rem;
	width:18rem;
	position: relative;

}
.imgZ{
	z-index: 2;
}
#tracks div{
	box-shadow:0rem 0rem 0.47rem 0.17rem #363535;
	border-bottom: 0.4rem solid rgba(255,255,255,0.6);
	border-bottom-left-radius: 9%;
	border-bottom-right-radius: 9%;

}
.audio-style{
	position:relative;
	height: 4rem;
	width: 18rem;
	margin-top:-1.4rem;
	


}
.audioZ{
	z-index: 1;
}
#track-list{
	display: flex;
	width: 60%;
	height:170vh;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:auto;
	margin-top: -2rem;
	

}
#bgimage{
	background-position: center;
	background-size: contain;
	background-attachment: fixed;
	margin:auto;
	background-image: url(images/p5.jpg);
	background-repeat: no-repeat;
	


}
.song-name{
	position: relative;
	margin-left:30%;
	font-family: century gothic;
	color: white;
	font-size: 1.4rem;
}
#UR{
	background-image: url(images/p3.jpg);
	background-position: center;
	background-size: contain;
	background-attachment: fixed;
	margin:auto;
	background-size: 58rem;
	background-repeat: no-repeat;
}
#UR p{
	background-color: rgba(0,0,0,0.2);
	margin: 4rem;
	margin-left: 6rem;
	margin-right: 10rem;
	text-align:justify;
	color:white;
	font-size: 1.2rem;
	font-family: century gothic;
}
#UR img{
	height: 20rem;
	width: 20rem;
	margin-left:31rem;
	border:4px solid rgba(255,255,255,0.8);
	box-shadow: 0rem 0rem 0.47rem 0.17rem #363535;
}
#features{
	height: 90vh;
	width:90%;
	display: flex;
	flex-wrap: wrap;

	/*border:2px solid black; */
	margin: auto;
}
#features div img{
	width: 25rem;
	height: 14.975rem;
	box-shadow: 0rem 0rem 0.47rem 0.17rem #363535;
	margin-top:4rem;
	transition: 0.7s all ease-in-out;
	margin-left: 8rem;


}
#features div img:hover{
	width:32rem;
	height: 19.168rem;
	z-index:2;
	position: relative;
	margin-left: 2rem;
	transform: translateX(1rem) translateY(2rem); 
}
#fea{
	font-family: century gothic;
	margin-left: 13%;
	margin-right: 80%;
	margin-bottom: -2rem;
	margin-top: 4rem;
	font-size: 4rem;
	opacity: 0.6;
}
#contact{
	width: 80%;
	height:44vh;
	margin:auto; 
	margin-top: 8rem;
	position: relative; 
	background-image: linear-gradient(-120deg,#000000,#3a3b3a,#000000)

}
#contact p{
	text-align: justify;
	color: white;
	font-family: century gothic;
	margin-left: 6rem;
	font-size: 1.4rem;
}
#contact form input{
	margin-left: 6rem;
	width: 22rem;
	height:2.7rem;
	opacity: 0.6;
	font-family: century gothic;
	border-radius: 2rem;


}
.sub{
	margin-left: 1rem;
	width: 6rem;
	height:2.7rem;
	border-radius: 0.8rem;
	opacity: 0.6;
	font-family: century gothic;
	font-size: 1rem;
}
.sub:hover{
	opacity:0.9;
}